<div class="footer-icons">
    <div class="footer-icon">
        <a routerLink="/admin_homepage"><fa-icon [icon]="house"></fa-icon><br>Home</a>
    </div>
    <div class="footer-icon">
        <a><fa-icon [icon]="sterlingSign"></fa-icon><br>Check In</a>
    </div>
    <div class="footer-icon">
        <a><fa-icon [icon]="user"></fa-icon><br>Users</a>
    </div>
    <div class="footer-icon">
        <a routerLink="/inventory_management"><fa-icon [icon]="book"></fa-icon><br>Inventory</a>
    </div>
    <div class="footer-icon">
        <a><fa-icon [icon]="user"></fa-icon><br>Profile</a>
    </div>
  </div>