<div class="organizer">
<div class="admin-dashboard">
    <div class="admin-dashboard">
        <div class="dashboard-header">
            <h1 class="welcome-message">Hello {{ firstName }}!</h1>
            <div class="header-right">
                <h1 class="logout-btn" (click)="logout()">Logout</h1>
                <div class="profile-container" (click)="profileAlert()">
                    <a><span class="fa-stack fa-2x">
                        <fa-icon [icon]="faCircle" class="fa-stack-2x" style="font-size: 2rem; color: black"></fa-icon>
                        <fa-icon [icon]="faUser" class="fa-stack-1x" style="color: gray; font-size: 1.0rem;"></fa-icon>
                    </span></a>
                </div>
            </div>
        </div>
    <div class="dashboard-tiles">
        <div class="tile larger alert-tile" (click)="handleTileClick('Alerts and Notifications')">Alerts and Notifications</div>
        <div class="tile loan-tile" (click)="handleTileClick('View Current Loans')">View Current Loans</div>
        <div class="tile large inventory-tile" (click)="handleTileClick('Manage Inventory')">Manage Inventory</div>
        <div class="tile accounts-tile" (click)="handleTileClick('User Accounts')">User Accounts</div>
        <div class="tile financial-tile" (click)="handleTileClick('Financial Overview')">Financial Overview</div>
        <div class="tile media-tile" (click)="handleTileClick('Add New Media')">Add New Media</div>
        <div class="tile large report-tile" (click)="handleTileClick('Generate Reports')">Generate Reports</div>
        <div class="tile settings-tile" (click)="handleTileClick('Update Settings')">Update Settings</div>
    </div>
    <app-footer-admin></app-footer-admin>
    
</div>

</div>

