<div class="transfer-management">
        <app-header arrowColor="#E0E0E0" route="/inventory_management" profileColor="#E0E0E0"></app-header>
        <h1>Transfer Management</h1>
        <input type="text" placeholder="Search Source/Destination" class="search-media" [(ngModel)]="searchQuery" (input)="filterTransfers()">

        <div class="transfer-history">
            <ul>
                <li *ngFor="let transfer of filteredTransfers" (click)="viewDetails(transfer)">
                    <span>
                        <strong>{{ transfer.source_branch }}</strong>
                        →
                        <strong>{{ transfer.destination_branch }}</strong>
                      ({{ transfer.status }})
                    </span>
                    <button>View Details</button>
                  </li>
            </ul>
        </div>
        
        <app-transfer-details
           [transferDetails]="selectedTransfer"
           [showModal]="showDetailsModal"
        ></app-transfer-details>

    <div class="footer-buttons">
        <a routerLink="/transfer_initiation"><button>Initiate New Transfer</button></a>
    </div>
    <app-footer-admin></app-footer-admin>
</div>
