<div class="header"> 
<div class="back-arrow">
    <a routerLink={{route}}><fa-icon [icon] = "faArrowLeftLong" style="font-size: 2rem;"></fa-icon></a>
    </div>
    <div class="profile-container">
    <a routerLink="/"><span class="fa-stack fa-2x">
    <fa-icon [icon]="faCircle" class="fa-stack-2x" style="color: #007bff; font-size: 2rem;"></fa-icon> <!-- Blue circle -->
    <fa-icon [icon]="faUser" class="fa-stack-1x" style="color: gray; font-size: 1.0rem;"></fa-icon> <!-- White user icon -->
  </span></a>
    </div>
</div>
