<div class="organizer">
<app-header></app-header>
<div class="centered-container">
  <h1>Payments</h1>
</div>
  
  <div class="centered-container">
    
    <div class="payment-section">
      <div class="payment-item" *ngFor="let category of ['Fees', 'Fines', 'Subscriptions']">
        <span>{{ category }}</span>
        <span>{{ payments[category] | currency: 'GBP' }}</span>
      </div>
      <div class="payment-item total">
        <span>Total</span>
        <span>{{ total | currency: 'GBP' }}</span>
      </div>
    </div>
  
    
    <div class="pay-button" (click)="navigateToPaymentOptions()">Pay</div>
  
    
    <div class="upcoming-deadlines">
      <h3>Upcoming Deadlines</h3>
      <ul>
        <li *ngFor="let deadline of deadlines" [innerHTML]="deadline">{{ deadline }}</li>
      </ul>
    </div>
  </div>
  

  <app-footer></app-footer>
</div>