.single-media-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control input[type="number"],
.form-control input[type="text"],
.form-control textarea {
    background-color: #f7f7f7;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.route {
    text-align: center;
    margin-top: 20px;
}

.route a {
    color: #007bff;
    text-decoration: none;
}

.route a:hover {
    text-decoration: underline;
}
