.inventory-management {
    font-family: 'Arial', sans-serif;
    color: #E0E0E0; /* Soft white for text */
    background-color: #171d2b; /* Dark grey background */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent horizontal scrolling */
}

.search-media {
    width: calc(100% - 80px); /* Account for padding */
    padding: 12px;
    margin: 0 40px 20px 40px;
    border-radius: 5px;
    border: 2px solid #646e82;
    background-color: #3a3f4b;
    color: #E0E0E0;
}

.media-list {
    flex: 1; /* Allow the list to take up remaining space */
    overflow-y: auto; /* Add scroll to the media list */
    margin: 0 40px 20px 40px;
}

.media-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.media-list li {
    background-color: #3a3f4b;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.media-list button {
    border: none;
    background: none;
    color: #e06c75; /* Soft red for icons */
    cursor: pointer;
    font-size: 16px;
}

.media-list button:hover {
    color: #f48b9b; /* Slight hover effect for buttons */
}

.footer-navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    flex-shrink: 0; /* Prevent shrinking */
    background-color: #1e2637; /* Consistent with header */
}

.footer-navigation button {
    background-color: #3d78a9;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-navigation button:hover {
    background-color: #4a91d4;
}

app-header {
    flex-shrink: 0; /* Prevent the header from shrinking */
    position: absolute; /* Make the header fixed */
    width: 100%;
    top: 0;
    z-index: 1000;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 80px 0 20px; /* Add space for the fixed header */
    color: #ABB2BF;
}

app-footer-admin {
    margin-top: auto;
    background-color: #1e2637; /* Consistent footer background */
}