.transfer-initiation {
    font-family: 'Arial', sans-serif;
    color: #E0E0E0;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent horizontal scroll */
    width: 100vw;
}

form {
    flex: 1; /* Take up remaining space */
    overflow-y: auto; /* Make form scrollable if content overflows */
    padding: 0 40px; /* Add side padding */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select,
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #646e82;
    background-color: #3a3f4b;
    color: #E0E0E0;
}

.form-group textarea {
    height: 100px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #61aeee;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: calc(100% - 80px); /* Ensure button does not exceed form padding */
}

app-header {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    flex-shrink: 0; /* Prevent header from shrinking */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #ABB2BF;
    padding: 20px 0;
}

app-footer-admin {
    position: relative;
    margin-top: auto;
    flex-shrink: 0; /* Prevent footer from shrinking */
    overflow-y: auto; /* Allow scrolling if needed */
}

.align-center{
    text-align: center;
}

.has-error select,
.has-error input {
    border-color: red;
    outline: none;
}
  
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
  