<div class="centered-container">
    <h1>Advanced Media<br>Library</h1>
    <h3>Sign Up</h3>
    <p class="small-text"><i>please fill out the form below</i></p>
<form Class="add-form">
    <div class="form-control inline">
        <label for="first-name">*First Name: </label>
        <input type="first-name" name="first-name" id="first-name" placeholder="First Name" required>
    </div>
    <div class="form-control inline">
        <label for="last-name">Last Name: </label>
        <input type="last-name" name="last-name" id="last-name" placeholder="Last Name" required>
    </div>
    <div class="form-control" style="margin-top: 0">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div class="form-control">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="form-control">
        <label for="password">Confirm Password: </label>
        <input type="password" name="password" id="password" placeholder="Confirm Password" required>
    </div>
    <input type="submit" value="Sign Up" class="btn btn-block">
</form>
<p>Already have an Account? <a routerLink="/">Sign in</a></p>
</div>
