<div class="footer-icons">
    <div class="footer-icon">
        <a routerLink="/home"><fa-icon [icon]="house"></fa-icon><br>Home</a>
    </div>
    <div class="footer-icon">
        <a routerLink="/holds"><fa-icon [icon]="book"></fa-icon><br>Books</a>
    </div>
    <div class="footer-icon">
        <a routerLink="/search"><fa-icon [icon]="magnifyingGlass"></fa-icon><br>Search</a>
    </div>
    <div class="footer-icon">
        <a routerLink="/payments"><fa-icon [icon]="sterlingSign"></fa-icon><br>Payments</a>
    </div>
    <div class="footer-icon">
        <a><fa-icon [icon]="user"></fa-icon><br>Profile</a>
    </div>
  </div>