   <div class="login-section">
        <h1>ADML Staff Login</h1>
        <img src="/ADML_Logo.ico" alt="Logo" class="logo-image" />
        <form class="login-form" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="username">Email:</label>
                <input type="email" name="username" id="username" placeholder="Enter Email" required>
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="login-button btn btn-block">Login</button>
        </form>
    </div>

  